<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>系列列表</h2>

	</div>
    <div class="tools clearfloat">
        <select name="cl_id" id="cl_id" class="input-3x" style="float: right;">
            <option value="0">全部</option>
            <volist name="class" id="cl">
                <option value="{$cl.cl_id}">{$cl.cl_title}</option>
            </volist>
        </select>

        <a class="btn" href="{:U('add')}" style="float:left;">新 增</a>
        <!-- <button class="btn ajax-post" target-form="ids" url="{:U('ser/setStatus',array('status'=>1))}">启 用</button>
        <button class="btn ajax-post" target-form="ids" url="{:U('ser/setStatus',array('status'=>0))}">禁 用</button> -->
        <!-- <a class="btn" href="{:U('generate')}">删除</a> -->
    </div>

	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
        <table class="">
            <thead>
                <tr>
        		<th>ID</th>
        		<th>名称</th>
                <th>频道</th>
        		<!-- <th>价格</th> -->
                <!-- <th>报名人数</th> -->
                <!-- <th>推广</th> -->
                <th>管理</th>
                <th>创建者</th>
        		<th>添加时间</th>
                <!-- <th>排序</th> -->
        		<th>操作</th>
        		</tr>
            </thead>
            <tbody>
        	<tbody>
        		<notempty name="list">
        		<volist name="list" id="t">
        			<tr>
        				<td>{$t.t_id}</td>
        				<td>{$t.t_title}</td>
                        <td>{$t.cl_title}</td>
                        <td><a title="编辑" href="{:U('add_live?id='.$t['t_id'])}">课程</a>|<a title="编辑" href="{:U('add_series?id='.$t['t_id'])}">系列</a></td>
                        <td>{$t.username}</td>
        				<td>{$t.t_time|substr=0,10}</td>
        				<td>
                            <a title="编辑" href="{:U('edit?id='.$t['t_id'])}">编辑</a>
        					<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$t['t_id'])}">删除</a>
        				</td>
        			</tr>
        		</volist>
        		<else/>
        		<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
        		</notempty>
        	</tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript">
    <present name="cl_id">
        Think.setValue("cl_id", {$cl_id|default=1});

    </present>
    (function($){
        $(".data-table")
            .on("submit", "form", function(){
                var self = $(this);
                $.post(
                    self.attr("action"),
                    self.serialize(),
                    function(data){
                        /* 提示信息 */
                        var name = data.status ? "success" : "error", msg;
                        msg = self.find(".msg").addClass(name).text(data.info)
                                  .css("display", "inline-block");
                        setTimeout(function(){
                            msg.fadeOut(function(){
                                msg.text("").removeClass(name);
                            });
                        }, 1000);
                    },
                    "json"
                );
                return false;
            })
            .on("focus","input",function(){
                $(this).data('param',$(this).closest("form").serialize());

            })
            .on("blur", "input", function(e){
                if($(this).data('param')!=$(this).closest("form").serialize()){
                     e.stopPropagation();
                     e.preventDefault()
                    $(this).closest("form").submit();
                }
            });

            $('#cl_id').change(function(){
                var p1=$(this).children('option:selected').val();//这就是selected的值
                window.location.href="{:U('Theme/index')}&cl_id="+p1+"";//页面跳转并传参
            })
        })(jQuery);
</script>
</block>
