<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>系列列表</h2>

	</div>
    <div class="tools clearfloat">
        <select name="cl_id" id="cl_id" class="input-3x" style="float: right;">
            <option value="0">全部</option>
            <volist name="class" id="cl">
                <option value="{$cl.cl_id}">{$cl.cl_title}</option>
            </volist>
        </select>

        <a class="btn" href="{:U('add')}" style="float:left;">新 增</a>
        <!-- <button class="btn ajax-post" target-form="ids" url="{:U('ser/setStatus',array('status'=>1))}">启 用</button>
        <button class="btn ajax-post" target-form="ids" url="{:U('ser/setStatus',array('status'=>0))}">禁 用</button> -->
        <!-- <a class="btn" href="{:U('generate')}">删除</a> -->
    </div>

	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
        <table class="">
            <thead>
                <tr>
        		<th>ID</th>
        		<th>名称</th>
                <th>频道</th>
        		<th>级别</th>
        		<!-- <th>价格</th> -->
        		<th>折扣</th>
                <!-- <th>报名人数</th> -->
                <!-- <th>推广</th> -->
                <th>创建者</th>
        		<th>添加时间</th>
                <!-- <th>排序</th> -->
        		<th>操作</th>
        		</tr>
            </thead>
            <tbody>
        	<tbody>
        		<notempty name="list">
        		<volist name="list" id="ser">
        			<tr>
        				<td>{$ser.ser_id}</td>
        				<td>{$ser.ser_title}</td>
                        <td>{$ser.cl_title}</td>
        				<td>
                            <switch name="ser.ser_level">
                                <case value="1">初级</case>
                                <case value="2">中级</case>
                                <default />高级
                            </switch>
                        </td>
                        <!-- <td>{$ser.price}</td> -->
        				<td>
                            <switch name="ser.dct_id">
                                <case value="1">非</case>
                                <case value="2">打折期</case>
                            </switch>
                        </td>
                        <!-- <td>
                        <if condition="$ser['ser_num'] gt 0">
                            {$ser.ser_num}
                        <else />
                            未限制
                        </if>
                        </td>
                        <td>
                            <switch name="ser.ser_key">
                                <case value="1">默认</case>
                                <case value="2">置顶</case>
                                <case value="3">精华</case>
                                <case value="4">活动</case>
                                <case value="5">推广</case>
                            </switch>
                        </td>-->
                        <td>{$ser.username}</td>
        				<td>{$ser.ser_time|substr=0,10}</td>
                        <!-- <td style="width:110px;">
                            <form action="{:U('edit')}" method="post">
                                <div class="order"><input type="text" name="ser_sort" class="input-mini" value="{$ser.ser_sort}" onkeyup="if(/\D/.test(this.value)){this.value='';}" maxlength="4"></div>
                                <input type="hidden" name="ser_id" value="{$ser.ser_id}">
                                <input type="hidden" name="ser_title" value="{$ser.ser_title}">
                                <input type="hidden" name="price" value="{$ser.price}">
                                <input type="hidden" name="cl_id" value="{$ser.cl_id}">
                                <span class="help-inline msg" style="line-height:24px;margin-left:5px;color:#635c73;"></span>
                            </form>
                        </td> -->
        				<td>
                            <a title="编辑" href="{:U('edit?id='.$ser['ser_id'])}">编辑</a>
        					<a title="编辑" href="{:U('add_live?id='.$ser['ser_id'])}">加课</a>
        					<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$ser['ser_id'])}">删除</a>
        				</td>
        			</tr>
        		</volist>
        		<else/>
        		<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
        		</notempty>
        	</tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript">
    <present name="cl_id">
        Think.setValue("cl_id", {$cl_id|default=1});

    </present>
    (function($){
        $(".data-table")
            .on("submit", "form", function(){
                var self = $(this);
                $.post(
                    self.attr("action"),
                    self.serialize(),
                    function(data){
                        /* 提示信息 */
                        var name = data.status ? "success" : "error", msg;
                        msg = self.find(".msg").addClass(name).text(data.info)
                                  .css("display", "inline-block");
                        setTimeout(function(){
                            msg.fadeOut(function(){
                                msg.text("").removeClass(name);
                            });
                        }, 1000);
                    },
                    "json"
                );
                return false;
            })
            .on("focus","input",function(){
                $(this).data('param',$(this).closest("form").serialize());

            })
            .on("blur", "input", function(e){
                if($(this).data('param')!=$(this).closest("form").serialize()){
                     e.stopPropagation();
                     e.preventDefault()
                    $(this).closest("form").submit();
                }
            });

            $('#cl_id').change(function(){
                var p1=$(this).children('option:selected').val();//这就是selected的值
                window.location.href="{:U('Series/index')}&cl_id="+p1+"";//页面跳转并传参
            })
        })(jQuery);
</script>
</block>
