<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar"><include file="Public:sidemenu" /></block>
<block name="body">
  <!-- 标题栏 -->
  
  <div class="main-title">
    <h2>批阅管理</h2>
  </div>
  <div class="tools clearfloat"> <a class="btn" href="{:U('add')}" style="">新 增</a> 
    <!-- <button class="btn ajax-post" target-form="ids" url="{:U('ser/setStatus',array('status'=>1))}">启 用</button>
        <button class="btn ajax-post" target-form="ids" url="{:U('ser/setStatus',array('status'=>0))}">禁 用</button> --> 
    <!-- <a class="btn" href="{:U('generate')}">删除</a> --> 
  </div>
  
<div>    
    <br/>
    <br/>
    <form action="upload_file.php" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/> 
    <input type="submit" name="submit" value="批量上传" />
    </form>
    <br/>
    <br/>
</div> 
  
  <!-- 数据列表 -->
  <div class="data-table">
    <div class="data-table table-striped">
      <table class="">
        <thead>
          <tr>
            <th>案例类型</th>
            <th>会员名称</th>
            <th>作业id</th>
            <th>分数</th>
            <th>状态</th>
            <th>发布时间</th>
            <th>批阅时间</th>
            <!-- <th>排序</th> -->
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <tbody>
         
        <notempty name="list">
          
          <volist name="list" id="vo">
            <tr>
              <td>{$vo.lesson.live_title} (一)</td>
              <td>{$vo.username}</td>
              <td>{$vo.series_id}{$vo.lesson_id}{$vo.user_id}</td>
              <td>{$vo.fraction}</td>
              <td>未审阅</td>
              <td>{$vo.lesson.live_start_time|substr=0,10}</td>
              <td>{$vo.uploadTime|date="Y-m-d",###}</td>
              <td><a title="编辑" href="{:U('edit?id='.$video['video_id'])}">下载附件</a>  <a title="编辑" href="{:U('edit?id='.$video['video_id'])}">上传附件</a>  <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$video['video_id'])}">删除</a></td>
            </tr>
          </volist>
        
        <else/>
            <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
        </notempty>
        
        </tbody>
      </table>
    </div>
  </div>
  <div class="page"> {$_page} </div>
</block>
<block name="script">
  <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>