<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>
<block name="body">
	<div class="main-title">
		<h2>录播管理</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('video_add',array('video_id'=>$video_id))}">添加视频</a>
		<!-- <a class="btn" href="javascript:;">删 除</a> -->
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th width="250">名称</th>
					<th>视频标识</th>
                    <th>视频ID</th>
					<th width="100px">操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="list">
					<tr>
						<td>{$list.node_id}</td>
						<td><a href="http://qzonestyle.gtimg.cn/open/qcloud/video/flash/video_player.swf?swfv=beta1&auto_play=0&file_id={$list.qcloud_id}&app_id=1251979435&version=1" target="_black" title="{$list.subtitle}">{$list.node_title}</a></td>
						<td>{$list.qcloud_id}</td>
                        <td>{$list.qcloud_app}</td>
						<td>
							<a title="编辑" href="{:U('video_edit?id='.$list['node_id'])}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="{:U('video_del?id='.$list['node_id'])}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
<script type="text/javascript">

</script>
</block>