

<div class="footers ">

<div class="container">

	<div class="footer_con">

         <div class="Friendly hidden-xs hidden-sm">

         	<h3 class="Footer_tit">

                友情链接

            </h3>

            <ul>

            	<li><a href="http://www.cnipr.com/" target="_blank">中国知识产权网</a></li>

                <li><a href="http://www.8hy.org/" target="_blank"> 衡阳</a></li>

                <li><a href="http://www.tmmark.com/" target="_blank">中国商标网</a></li>

                <li><a href="http://www.jidian365.com/" target="_blank">极点网</a></li>

                <li><a href="http://www.fffffw.com/" target="_blank">伍福文化</a></li>

                <li><a href="http://www.wdy.com/" target="_blank">微电影网</a></li>

                <li><a href="http://chongqing.liebiao.com/" target="_blank">重庆列表网</a></li>

                <li><a href="http://www.berui.com/" target="_blank">合肥房产网</a></li>

                <li><a href="http://www.yz53.com/" target="_blank">禹州在线</a></li>

                <li><a href="http://www.tsingming.com/" target="_blank">中国清明网</a></li>

                <li><a href="http://www.51offer.com/" target="_blank">英国留学</a></li>

                <li><a href="http://yangzhou.focus.cn/" target="_blank">扬州房产信息网</a></li>

                <li><a href="http://www.liuxue315.edu.cn/" target="_blank">出国留学</a></li>

                <li><a href="http://www.0755lvs.cn/" target="_blank">深圳专利律师</a></li>

                <li><a href="http://www.ipcoo.cn/" target="_blank">专利布局</a></li>

                <li><a href="http://www.kzhihui.com/" target="_blank">知识产权服务</a></li>

                <li><a href="http://www.gbicom.cn/" target="_blank">中国商标网</a></li>

                <li><a href="http://www.lawyermr.com/" target="_blank">深律网</a></li>

                <li><a href="http://www.wtoip.com" target="_blank">商标转让</a></li>

                <li><a href="http://www.1633.com" target="_blank">技术交易平台</a></li>

                <li><a href="http://www.idcicp.com" target="_blank">网络品牌保护</a></li>

                <li><a href="http://www.shangbiaomyd.com" target="_blank">商标注册</a></li>

                <li><a href="http://www.chen7782.com" target="_blank">注册商标</a></li>

                <li><a href="http://www.fenxianggou.cc" target="_blank">科技创意</a></li>

                <li><a href="http://www.qihaoip.com" target="_blank">7号网</a></li>

                <li><a href="http://ipr.zbj.com/" target="_blank">八戒知识产权</a></li>

            </ul>

         </div>

         <div class="clear"> </div>

         <div class="end">

         	   <div class="Houses"> 

   				 © 2013-2016 北京思博知网科技有限公司<br>

                 思博网 ( 京ICP备12050374号 京公安备11010802012124)

               </div>	

         </div>

         

    </div>

  </div>  

</div>

<div class="huojian">

 <!-- 返回顶部代码 开始 -->

<div style="display:none;" id="rocket-to-top">

	<div style="opacity:0;display:block;" class="level-2"></div>

	<div class="level-3"></div>

</div>

</div>

<!-- 代码 结束 --> 
<!-- 弹出层Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel" style="display:block;height:20px;"> </h4>
        </div>
        <div class="modal-body" style=" text-align:center;">
          <img src="__PUBLIC__/static/home/images/sbxy_tcc.jpg">
          <span style="color:#748b8f; width:300px; font-size:18px; ">
          您选择的课程暂无信息
          更多精彩敬请期待！
          </span>
        </div>
      </div><!-- /.modal-content -->
    </div>
</div>
<!-- 弹出层Small modal结束 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8c6de5932bed397c45a36a716c38d952";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>

</html>