<!DOCTYPE html>

<html lang="zh-CN">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="keywords" content="专利代理人考试|专利代理人培训|专利代理人课程|思博学院官网|思博学院
" />

    <meta name="description" content="思博学院是中国最好的专利代理人培训平台,为专利代理人提供专业的专利代理人在线培训课程,包括专利基础知识,专利申请文件解读,专利撰写,专利申请流程等." />

    <link rel="icon" href="__PUBLIC__/static/home/images/sbxy.ico">



    <title>思博学院官网-最好的专利代理人培训平台</title>



    <!-- Bootstrap core CSS -->

    <link href="__HOMECSS__bootstrap.min.css" rel="stylesheet">

    <link href="__HOMECSS__bootstrap-theme.min.css" rel="stylesheet">

    <link href="__HOMECSS__sbxy2016.css" rel="stylesheet" type="text/css">



    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]><script src="../../assets/__HOMEJS__ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="__HOMEJS__ie-emulation-modes-warning.js"></script>



    <!--[if lte IE 9]>

    <script src="__HOMEJS__html5.js"></script>

    <script src="__HOMEJS__respond.min.js"></script>

    <![endif]-->

    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script src="__HOMEJS__ie10-viewport-bug-workaround.js"></script>

    <!-- js -->

    <script src="__HOMEJS__jquery.js"></script>

    <script src="__HOMEJS__bootstrap.min.js"></script>

    <script src="__HOMEJS__menu.js" type="text/javascript"></script>

    <script type="text/javascript" src="__HOMEJS__sbxy_jdt.js"></script>

    <script type="text/javascript" src="__HOMEJS__huojian.js"></script>

    <!--[if lte IE 6]>

    <script type="text/javascript" src="__HOMEJS__belatedPNG.js"></script>

    <script type="text/javascript">

        var __IE6=true;

        DD_belatedPNG.fix('.logo img,.prev img,.next img,img');

    </script>

    <![endif]-->
    <script>
        function cla(va){
            if(va == 1){
                $("#jiangshi").addClass("down");
                $("#inde1").removeClass("down");
            }else{
                $("#inde1").addClass("down");
                $("#jiangshi").removeClass("down");
            }
        }
    </script>
                    


  </head>



<body style="background:#fff;">
<!--  顶部开始--> 



    <div id="n1" class="top_sbxy hidden-xs hidden-sm" > 

        <div class="container">

            <div class="logo">

                <img src="__PUBLIC__/static/home/images/sbxy_logo.jpg">

            </div>
            <div class="nav_sbxy">
                <ul>

                    <volist name="nav" id="vo">
                    <li> <a href="{$vo.url}" id="inde1">{$vo.title}</a></li>
                    </volist>
                
                </ul>

            </div>

            

   <!--  登陆前状态--> 

    <if condition="!$user or $user.id eq ''" > 



    <div class="right hidden-xs hidden-sm">



            <ul class="ulr">



                <li>
                    <a href="http://user.mysipo.com/member/reg/"  target="_self">注册</a>
                </li>

                <li>
                    <a href="http://user.mysipo.com/member/login/"  target="_self">登录</a>
                </li>



                <li>



                    <a href="http://user.mysipo.com/Thirdparty/qqlogin/"  target="_self" class="qq"> </a>



                </li>

                

                <li>



                    <a href="http://user.mysipo.com/Weixinlogin/weixin_login/"  target="_self" class="weix"> </a>



                </li>



                <li>



                    <a href="http://user.mysipo.com/Thirdparty/sinalogin/"  target="_self" class="weibo"> </a>



                </li>
                <li>



                    <a href="http://www.mysipo.com"  target="_blank">思博首页</a>



                </li>


            </ul>



        </div>



    <else />



        <!-- 登陆后状 -->



        <div class="left hidden-xs hidden-sm">



            <ul class="menu">



                <li class="li_3"><a class="" href="http://user.mysipo.com"><img src="http://www.mysipo.com/uc_server/avatar.php?uid={$user.id}&size=small" style="width:40px; height:40px;margin-top:-3px;">  </a>



                    <dl class="li_3_content">



                        <dt></dt>



                        <dd><a href="http://bbs.mysipo.com/plugin.php?id=team"><span>申请版主（签到中心）</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=space&do=friend"><span>好友</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/forum.php?mod=guide&view=my"><span>帖子</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=magic"><span>道具</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=medal"><span>勋章</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=space&do=favorite&view=me"><span>收藏</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=task"><span>任务</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/forum.php?mod=collection&op=my"><span>淘贴</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php"><span>动态</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/misc.php?mod=ranklist"><span>排行榜</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=spacecp"><span>设置</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/member.php?mod=logging&amp;action=logout&amp;formhash=ec98622e" target="_self"><span>退出</span></a></dd>







                    </dl>



                </li>
                <li>
                    <a style="line-height: 39px; width: 126px; color: rgb(102, 102, 102);" href="http://www.mysipo.com" target="_blank">思博首页</a>    
                </li>
                


            </ul> 



        </div>



    </if> 



            

        </div>   

    </div>

<!--顶部结束--> 

<!--手机顶部--> 

<div class="container hidden-lg">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mytab" aria-expanded="false">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#"><img src="__PUBLIC__/static/home/images/photo_logo.png" height="25em"></a>

            </div>

            <div class="collapse navbar-collapse" id="mytab">

                <ul class="nav navbar-nav">

                    <li class="active" role="presentation"><a href="#n1">首页</a></li>

                    <li role="presentation"><a href="/Index/kecheng">职业培训</a></li>

                    <li role="presentation"><a href="/Index/douyanpeng">公开课</a></li>

                    <li role="presentation"><a href="#n3">讲师介绍</a></li>


                </ul>

                    </li>

                </ul>

            </div>

        </div>

    </nav> 

</div>    

  <!--  手机顶部结束-->   