<extend name="Public/base" />
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
			直播频道
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U()}" method="post" class="form-horizontal">

        <div id="tab1" class="tab-pane in tab1">
            <div class="form-item cf">
                <label class="item-label">课程标题：<span class="check-tips">{$live.live_title}</span></label>
            </div>
            <div class="form-item cf">
                <label class="item-label">开课地点：<span class="check-tips"></span></label>
                <select name="place_id" class="input-4x">
                    <volist name="place" id="place">
                        <option value="{$place.place_id}">{$place.place_title}</option>
                    </volist>
                </select>
            </div>
            <div class="form-item">
                <label class="item-label">
                    主讲人<span class="check-tips"></span>
                </label>
                <div class="controls">
                    <input type="text" name="lc_speak" class="text input-4x" value="{$info.lc_speak|default=''}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">
                    标志图<span class="check-tips"></span>
                </label>
                <div class="controls">
                    <input type="file" id="upload_picture">
                    <input type="hidden" name="lc_img" id="lc_img" value="{$info.lc_img}"/>
                    <input type="hidden" name="old_lc_img" value="{$info.lc_img}"/>
                    <div class="upload-img-box">
                    <notempty name="info['lc_img']">
                        <div id="img"><div class="upload-pre-item" style="width:300px;max-height:200px;"><img src="__ROOT__{$info['lc_img']}"/>
                        </div>
                        </div>
                    <else/>
                        <div id="img"></div>
                    </notempty>

                    </div>
                    <script type="text/javascript">
                    //上传图片
                    /* 初始化上传插件 */
                    $("#upload_picture").uploadify({
                        "height"          : 30,
                        "swf"             : "__STATIC__/uploadify/uploadify.swf",
                        "fileObjName"     : "download",
                        "buttonText"      : "上传图片",
                        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                        "width"           : 120,
                        'removeTimeout'   : 1,
                        'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                        "onUploadSuccess" : uploadPicture,
                        "onUploadError"   : uploadPicture,
                        'onFallback' : function() {
                            alert('未检测到兼容版本的Flash.');
                        }
                    });
                    function uploadPicture(file, data){
                        var data = $.parseJSON(data);
                        console.log(data);
                        if(data.id){
                            $("#lc_img").val(data.path);
                            src = '__ROOT__' + data.path
                            $("#img").html(
                                '<div class="upload-pre-item" style="width:300px;max-height:200px;"><img src="' + src + '"/></div>'
                            );

                        } else {
                            updateAlert(data.info);
                            setTimeout(function(){
                                $('#top-alert').find('button').click();
                                $(this).removeClass('disabled').prop('disabled',false);
                            },1500);
                        }
                    }
                    </script>
            </div>
            <div class="form-item">
                <label class="item-label">主讲人介绍<span class="check-tips"></span></label>
                <div class="controls">
                <textarea name="lc_speak_intr" class="content01">{$info.lc_speak_intr}</textarea>
                {:hook('adminArticleEdit', array('name'=>lc_speak_intr,'value'=>$info['lc_speak_intr']))}
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">课程简介<span class="check-tips"></span></label>
                <div class="controls">
                <textarea name="lc_content" class="content02">{$info.lc_content}</textarea>
                {:hook('adminArticleEdit', array('name'=>lc_content,'value'=>$info['lc_content']))}
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">大纲<span class="check-tips"></span></label>
                <div class="controls">
                <textarea name="lc_outline" class="content03">{$info.lc_outline}</textarea>
                {:hook('adminArticleEdit', array('name'=>lc_outline,'value'=>$info['lc_outline']))}
                </div>
            </div>
    		<div class="form-item" style="margin-top:30px;">
                <input type="hidden" name="live_id" value="{$live.live_id|default=''}">
                <input type="hidden" name="lc_id" value="{$info.lc_id|default=''}">
                <button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
	</form>
	</div>
</div>
</block>

<block name="script">
    <script type="text/javascript">
        <present name="info.lc_id">
        Think.setValue("place_id", {$info.place_id|default=1});
        </present>
        $(function(){
            showTab();
            $("input[name=reply]").change(function(){
                var $reply = $(".form-item.reply");
                parseInt(this.value) ? $reply.show() : $reply.hide();
            }).filter(":checked").change();
        });
        //导航高亮
        highlight_subnav('{:U('Playlive/index')}');

        var textChildList = $('#tab1 > .form-item:last-child').children('.form-item')
        var contentList = $('.ke-content').length
        console.log(contentList)
        var text_01       = textChildList.eq(1).text()
        /*console.log(text_01)*/
        $('#submit').on('click', function(e) {
            var contentList1 = $('.ke-edit-iframe')[0].contentWindow;
            var contentList2 = $('.ke-edit-iframe')[1].contentWindow;
            var contentList3 = $('.ke-edit-iframe')[2].contentWindow;
            $('.content01').html(contentList1.document.body.innerText)
            $('.content02').html(contentList2.document.body.innerText)
            $('.content03').html(contentList3.document.body.innerText)
        });


    </script>
</block>
