<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>
<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<script src="__STATIC__/laydate/laydate.dev.js"></script>
	<div class="main-title">
		<h2>{:isset($info['live_id'])?'编辑':'新增'}直播</h2>
	</div>
	<div class="tab-wrap">

		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">
				<!-- 基础 -->

				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<div class="controls">
							课程标题：
							<input type="text" name="live_title" class="text input-large" value="{$info.live_title|default=''}"><span class="check-tips">（标题不能为空）</span>
						</div>
					</div>
					<div class="form-item cf">
						<div class="controls">
							频&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道：
							<select name="cl_id" class="input-3x">
								<volist name="class" id="class">
									<option value="{$class.cl_id}">{$class.cl_title}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-item cf">
						<div class="controls">
							类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：
							<select name="live_type" class="input-3x">
								<option value="1">理论</option>
								<option value="2">实践</option>
							</select>
						</div>
					</div>


					<div class="form-item">
						<div class="controls">
							开始时间：
							<input type="datetime" id="start" placeholder="请选择" readonly="readOnly" name="live_start_time" class="laydate-icon text input-3x" value="{$info.live_start_time|default=''}">

						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							结束时间：
							<input  type="datetime" id="end" placeholder="请选择" readonly="readOnly" name="live_stop_time" class="laydate-icon text input-3x" value="{$info.live_stop_time|default=''}">
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：
							<input type="text" name="price" class="text input-3x" value="{$info.price|default='0.00'}" onkeyup="this.value=this.value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" maxlength="9"><span class="check-tips">6位整数2小数，默认0为免费</spa
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							折&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣：
							<select name="dct_id" id="" class="input-3x" disabled>
								<option value="1">原价</option>
								<option value="2">打折</option>
							</select>
						</div>
					</div>

					<div class="form-item">
						<div class="controls">
							讲师帐号：
							<input type="text" name="tch_name" class="text input-3x" value="{$info.tch_name|default=''}">
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							助教帐号：
							<input type="text" name="tutor_name" class="text input-3x" value="{$info.tutor_name|default='思博学院助教'}">
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							报名人数：
							<input type="text" name="live_num" class="text input-3x" value="{$info.live_num|default='0'}" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" maxlength="4"><span class="check-tips">默认0为不限人数</span>
						</div>
					</div>
					<div class="form-item">
		                <label class="item-label">
		                    标志图<span class="check-tips"></span>
		                </label>
		                <div class="controls">
		                    <input type="file" id="upload_picture">
		                    <input type="hidden" name="live_img" id="live_img" value="{$info.live_img}"/>
		                    <input type="hidden" name='old_live_img' value="{$info.live_img}">
		                    <div class="upload-img-box">
		                    <notempty name="info['live_img']">
		                        <div id="img"><div class="upload-pre-item" style="width:300px;max-height:200px;"><img src="__ROOT__{$info['live_img']}"/>
		                        </div>
		                        </div>
		                    <else/>
		                        <div id="img"></div>
		                    </notempty>

		                    </div>
		                    <script type="text/javascript">
		                    //上传图片
		                    /* 初始化上传插件 */
		                    $("#upload_picture").uploadify({
		                        "height"          : 30,
		                        "swf"             : "__STATIC__/uploadify/uploadify.swf",
		                        "fileObjName"     : "download",
		                        "buttonText"      : "上传图片",
		                        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
		                        "width"           : 120,
		                        'removeTimeout'   : 1,
		                        'fileTypeExts'    : '*.jpg; *.png; *.gif;',
		                        "onUploadSuccess" : uploadPicture,
		                        "onUploadError"   : uploadPicture,
		                        'onFallback' : function() {
		                            alert('未检测到兼容版本的Flash.');
		                        }
		                    });
		                    function uploadPicture(file, data){
		                        var data = $.parseJSON(data);
		                        console.log(data);
		                        if(data.id){
		                            $("#live_img").val(data.path);
		                            src = '__ROOT__' + data.path
		                            $("#img").html(
		                                '<div class="upload-pre-item" style="width:300px;max-height:200px;"><img src="' + src + '"/></div>'
		                            );

		                        } else {
		                            updateAlert(data.info);
		                            setTimeout(function(){
		                                $('#top-alert').find('button').click();
		                                $(this).removeClass('disabled').prop('disabled',false);
		                            },1500);
		                        }
		                    }
		                    </script>
		            </div>

				</div>

				<div class="form-item" style="margin-top:30px;">
					<input type="hidden" name="live_id" value="{$info.live_id|default=''}">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		<present name="info.live_id">
		Think.setValue("allow_publish", {$info.allow_publish|default=1});
		Think.setValue("cl_id", {$info.cl_id|default=1});
		Think.setValue("live_type", {$info.live_type|default=1});
		Think.setValue("dct_id", {$info.dct_id|default=0});
		Think.setValue("type[]", {$info.type|json_encode} || [2]);
		Think.setValue("display", {$info.display|default=1});
		Think.setValue("reply", {$info.reply|default=0});
		Think.setValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
		</present>
		$(function(){
			showTab();
			$("input[name=reply]").change(function(){
				var $reply = $(".form-item.reply");
				parseInt(this.value) ? $reply.show() : $reply.hide();
			}).filter(":checked").change();
		});
		//导航高亮
		highlight_subnav('{:U('Playlive/index')}');
	</script>
	 <script>
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                 end.min = datas; //开始日选好后，重置结束日的最小日期
                 end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
        </script>
</block>
