<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>直播列表</h2>

	</div>
    <div class="tools clearfloat">
        <div style="float:right;">
                频道：
            <select name="clid" id="cl_id" class="input-2x" onchange="form1()">
                <option value="0">全部</option>
                <volist name="class" id="cl">
                    <option value="{$cl.cl_id}">{$cl.cl_title}</option>
                </volist>
            </select>

                状态：
            <select name="status" id="status" class="input-2x" onchange="form1()">
                <option value="0">全部</option>
                <option value="1">直播中</option>
                <option value="2">即将开始</option>
                <option value="3">已结束</option>
            </select>
                类型：
            <select name="type" id="type" class="input-2x" onchange="form1()">
                <option value="0">全部</option>
                <option value="1">理论</option>
                <option value="2">实践</option>
            </select>
                详情页：
            <select name="content" id="content" class="input-2x" onchange="form1()">
                <option value="0">全部</option>
                <option value="1">已开通</option>
                <option value="2">未开通</option>
            </select>
        </div>

        <a class="btn" href="{:U('Playlive/add')}" style="float:left;">新 增</a>
    </div>

	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
<table class="">
    <thead>
        <tr>
		<th>ID</th>
		<th width="150">课程标题</th>
        <th width="90">频道</th>
        <th width="70">状态</th>
        <th width="50">类型</th>
		<th width="50">人数</th>
		<th width="80">课程详情</th>
		<th width="100">讲师</th>
        <th width="100">助教</th>
        <th width="90">开始时间</th>
		<th width="90">结束时间</th>
		<th width="90">操作</th>
		</tr>
    </thead>
    <tbody>
	<notempty name="list">
	<tbody>
		<notempty name="list">
		<volist name="list" id="live">
			<tr>
				<td>{$live.live_id}</td>
                <td class="td-lesson01">
                    <div class="limit-cur" style="">{$live.live_title}</div>
                    <div class="limit-all" style="display: none;position: absolute;background: rgba(78,78,78,.9);z-index: 9;border: 1px solid #eee;padding: 3px 5px;border-radius: 4px;color: #fff;font-size: 12px;"><p>{$live.sub_title}<p/></div>
                </td>
                <td>
                    <select name="cl_id" id="" class="cl_id input-2x" live="{$live.live_id}">
                        <volist name="class" id="cl">
                            <option value="{$cl.cl_id}" <if condition="$live['cl_id'] eq $cl['cl_id']">selected="selected"</if>>{$cl.cl_title}</option>
                        </volist>
                    </select>
                </td>
                <td><if condition="$live['status'] eq 1">未开始<elseif condition="$live['status'] eq 2" /><a href="http://s.mysipo.com/show/{$live.live_id}.html">直播中</a><elseif condition="$live['status'] eq 4" />即将开始<else />已结束</if></td>
                <td>
                    <select name="" id="" class="live_type" live="{$live.live_id}">
                        <option value="1" <if condition="$live['live_type'] eq 1">selected</if>>理论</option>
                        <option value="2" <if condition="$live['live_type'] eq 2">selected</if>>实践</option>
                    </select>
                </td>
				<td><if condition="$live['live_num'] eq 0">不限<else />{$live.live_num}</if></td>

				<td><if condition="$live['lc_id'] eq 0"><a title="频道" href="{:U('content?id='.$live['live_id'])}">开通</a><else /><a title="频道" href="{:U('content?id='.$live['live_id'])}">编辑</a></if></td>
				<td>{$live.tch_name}</td>
                <td>{$live.tutor_name}</td>
                <td>{$live.live_start_time|substr=0,10}</td>
				<td>{$live.live_stop_time|substr=0,10}</td>
				<td>
                    <a title="编辑" href="{:U('edit?id='.$live['live_id'])}">编辑</a>
					<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$live['live_id'])}">删除</a>
				</td>
			</tr>
		</volist>
		<else/>
		<td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>

        </div>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript">
    <present name="select">
        Think.setValue("clid", {$cl_id|default=0});
        Think.setValue("status", {$status|default=0});
        Think.setValue("type", {$type|default=0});
        Think.setValue("content", {$content|default=0});

    </present>
    $(function(){
    	$("#search").click(function(){
    		var url = $(this).attr('url');
    		var status = $('select[name=status]').val();
    		var search = $('input[name=search]').val();
    		if(status != ''){
    			url += '/status/' + status;
    		}
    		if(search != ''){
    			url += '/search/' + search;
    		}
    		window.location.href = url;
    	});

        $('.live_type').change(function(){
            var live_type = $(this).val();
            var live_id = $(this).attr('live');
            $.post("{:U('update')}",{'live_type' : live_type , 'live_id' : live_id},function(data){

            })
        })

        $('.cl_id').change(function(){
            var cl_id = $(this).val();
            var live_id = $(this).attr('live');
            $.post("{:U('update')}",{'cl_id' : cl_id , 'live_id' : live_id},function(data){

            })
        })

    })
    function form1(){
            var cl_id = $("#cl_id").val();
            var status = $("#status").val();
            var type = $("#type").val();
            var content = $("#content").val();
            window.location.href="{:U('Playlive/index')}&cl_id="+cl_id+"&status="+status+"&type="+type+"&content="+content;//页面跳转并传参
        }
    !(function($){
        $('.td-lesson01, .td-lesson02').on('mouseenter', function(e) {
            if($(this).children('.limit-cur').text().length > 8) {
                $(this).children('.limit-all').stop().show('fast');
            }
        }).on('mouseleave', function(e) {
            $(this).children('.limit-all').stop().hide('fast');
        });
    })(jQuery);
</script>
</block>
