html{ overflow-x:hidden; overflow-y:scroll;}
body,div,form,ul,ol,li,span,p,em,s,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,td{ margin:0;padding:0;font-style: normal;}
body{color:#4e4e4e; font-size:14px; font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";}
li{ list-style:none;}
img{ border:0;}
button{cursor: pointer;}
a{ color:#4e4e4e; cursor:pointer;}
a:link { text-decoration:none; color:#4e4e4e;}
a:visited { text-decoration:none; color:#4e4e4e;}
a:hover{ text-decoration:none; color:#FF6400;}
a:active { text-decoration:none; color:#4e4e4e;}
div,ol,ul,li{zoom:1}
div:after,ol:after,ul:after,li:after{content:"";display:block;visibility:hidden;height:auto;clear:both;}
.clear{clear:both;}
.left,.center,.l,.right,.r{display:inline;float:left;}
.right,.r{float:right;}

.b{ font-weight:bold;}

.text_l{ text-align:left;}
.text_c{ text-align:center;}
.text_r{ text-align:right;}

.gray,.gray a{ color:#8e8e8e;}
.red,.red a{ color:#e20000 !important;}
.green,.green a{ color:#0a939b;}
.blue,.blue a{ color:#0A589A;}
.orange,.orange a{ color:#EC5909;}

.area{ width:100%; margin:0 auto;}



/*header*/
header{border-bottom:10px solid #ededed; background:#fff;}
header img{float: left;}
header p{font-size: 18px;padding-top: 50px;}
.dialog-overlay{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)"; /*IE8*/
filter:alpha(opacity=45);  /*IE5、IE5.5、IE6、IE7*/
opacity: .45; width: 100%; opacity: 0.5; position: absolute; overflow: hidden; left: 0px; top: 0px; z-index: 888; background: rgb(0, 0, 0);display: none;}

/*footer*/
footer{height: 370px;width: 100%;background:url(../img/bg_bottom.png) #ededed repeat-x; margin:60px 0 0 0;}
footer .link,footer .link a{font: 16px/64px "\5FAE\8F6F\96C5\9ED1"; color: #333;}
footer .link a{margin-right:10px;}
footer .content{height: 145px;border-bottom: 1px solid #ccc;}
footer .content .logo{margin-left: 135px;width: 129px;height: 103px;float: left;background: url(../img/logo_03.png) no-repeat; }
footer .content ul{padding-left: 36px; font: 14px/26px "\5FAE\8F6F\96C5\9ED1";color: #6b6b6b;min-width: 260px; float: left;}
footer .content .ewm{background: url(../img/erweima.png); width: 128px; height: 130px;float: left;}
footer .content .right{ padding-left: 30px;font:12px/18px "\5FAE\8F6F\96C5\9ED1";float: left;}
footer .bottom{line-height: 28px;margin-top: 10px;}
footer .bottom .about,footer .bottom .about a{color:#333;}

