@charset "utf-8";
/* CSS Document */

/* 全局CSS定义 */
body{margin:0 auto;padding:0;background:#333333;color:#666;font:14px '\5FAE\8F6F\96C5\9ED1'; min-width:320px; max-width:640px;}
body > div{margin-right:auto;margin-left:auto;}
div,form,ul,ol,li,span,p,dl,dt,dd,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input,textarea{font-size:12px}
em,i{font-style: normal;}
/* 链接颜色 */
a{color:#666;text-decoration:none;}
/* 属性 */
.clear{zoom:1}
.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
/* 浮动属性 */
.left,.center,.l,.right,.r{display:inline;float:left;}
.right,.r{float:right;}
.b{font-weight:bold;}
.red{color:#f00;}

