<!DOCTYPE html>

<html lang="zh-CN">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="keywords" content="专利培训、代理人培训、专利代理人培训、思博学院、知识产权、知识产权网、知识产权论坛、知识产权案例、知识产权新闻、思博知识产权网" />

    <meta name="description" content="思博学院（关注你的成长）是中国最专业的专利培训学习平台，中国知识产权精英汇聚的网络社区，提供企业知识产权管理、知识产权资讯、知识产权保护，让知识产权成为中国企业转型升级的助推器！ " />

    <link rel="icon" href="__PUBLIC__/static/home/images/sbxy.ico">



    <title>思博学院-高智发明的前世今生及如何打造中国版“高智”</title>



    <!-- Bootstrap core CSS -->

    <link href="__HOMECSS__bootstrap.min.css" rel="stylesheet">

    <link href="__HOMECSS__bootstrap-theme.min.css" rel="stylesheet">

    <link href="__HOMECSS__sbxy2016.css" rel="stylesheet" type="text/css">



    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]><script src="../../assets/__HOMEJS__ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="__HOMEJS__ie-emulation-modes-warning.js"></script>



    <!--[if lte IE 9]>

    <script src="__HOMEJS__html5.js"></script>

    <script src="__HOMEJS__respond.min.js"></script>

    <![endif]-->

    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script src="__HOMEJS__ie10-viewport-bug-workaround.js"></script>

    <!-- js -->

    <script src="__HOMEJS__jquery.js"></script>

    <script src="__HOMEJS__bootstrap.min.js"></script>

    <script src="__HOMEJS__menu.js" type="text/javascript"></script>

    <script type="text/javascript" src="__HOMEJS__sbxy_jdt.js"></script>

    <script type="text/javascript" src="__HOMEJS__huojian.js"></script>

    <!--[if lte IE 6]>

    <script type="text/javascript" src="__HOMEJS__belatedPNG.js"></script>

    <script type="text/javascript">

        var __IE6=true;

        DD_belatedPNG.fix('.logo img,.prev img,.next img,img');

    </script>

    <![endif]-->
    
    <script type="text/javascript">
    function getRTime(){
        var EndTime= new Date('2016/03/5 14:00:00');
        var NowTime = new Date();
        var t =EndTime.getTime() - NowTime.getTime();

        var d=Math.floor(t/1000/60/60/24);
        var h=Math.floor(t/1000/60/60%24);
        var m=Math.floor(t/1000/60%60);
        var s=Math.floor(t/1000%60);

        document.getElementById("t_d").innerHTML = d+"天";
        document.getElementById("t_h").innerHTML = h+"时";
        document.getElementById("t_m").innerHTML = m + "分";
        document.getElementById("t_s").innerHTML = s + "秒";
    }
    setInterval(getRTime,1000);
    </script> 

  </head>



<body style="background:#fff;">

<!--  顶部开始--> 



    <div id="n1" class="top_sbxy hidden-xs hidden-sm" > 

        <div class="container">

            <div class="logo">

                <img src="__PUBLIC__/static/home/images/sbxy_logo.jpg">

            </div>

            <div class="nav_sbxy">

                <ul>

                    <li> <a href="http://s.mysipo.com">首页</a></li>

                    <li> <a href="/Index/kecheng">职业培训</a></li>

                    <li> <a href="#" class="down">公开课</a></li>

                    <li> <a href="http://s.mysipo.com/#n3">讲师介绍</a></li>

                </ul>

            </div>

            

   <!--  登陆前状态--> 

    <if condition="!$user or $user.id eq ''" > 



    <div class="right hidden-xs hidden-sm">



            <ul class="ulr">



                <li>



                    <a href="http://user.mysipo.com/member/reg/"  target="_self">注册</a>



                </li>



                <li>



                    <a href="http://user.mysipo.com/member/login/"  target="_self">登录</a>



                </li>



                <li>



                    <a href="http://user.mysipo.com/Thirdparty/qqlogin/"  target="_self" class="qq"> </a>



                </li>

                

                <li>



                    <a href="http://user.mysipo.com/Weixinlogin/weixin_login/"  target="_self" class="weix"> </a>



                </li>



                <li>



                    <a href="http://user.mysipo.com/Thirdparty/sinalogin/"  target="_self" class="weibo"> </a>



                </li>



            </ul>



        </div>



    <else />



        <!-- 登陆后状 -->



        <div class="left hidden-xs hidden-sm">



            <ul class="menu">



                <li class="li_3"><a class="" href="http://user.mysipo.com"><img src="http://www.mysipo.com/uc_server/avatar.php?uid={$user.id}&size=small" style="width:40px; height:40px;margin-top:-3px;">  </a>



                    <dl class="li_3_content">



                        <dt></dt>



                        <dd><a href="http://bbs.mysipo.com/plugin.php?id=team"><span>申请版主（签到中心）</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=space&do=friend"><span>好友</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/forum.php?mod=guide&view=my"><span>帖子</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=magic"><span>道具</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=medal"><span>勋章</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=space&do=favorite&view=me"><span>收藏</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=task"><span>任务</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/forum.php?mod=collection&op=my"><span>淘贴</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php"><span>动态</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/misc.php?mod=ranklist"><span>排行榜</span></a></dd>



                        <dd><a href="http://home.mysipo.com/home.php?mod=spacecp"><span>设置</span></a></dd>



                        <dd><a href="http://bbs.mysipo.com/member.php?mod=logging&amp;action=logout&amp;formhash=ec98622e" target="_self"><span>退出</span></a></dd>







                    </dl>



                </li>



            </ul> 



        </div>



    </if> 



            

        </div>   

    </div>

<!--顶部结束--> 

<!--手机顶部--> 

<div class="container hidden-lg">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mytab" aria-expanded="false">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#"><img src="__PUBLIC__/static/home/images/photo_logo.png" height="25em"></a>

            </div>

            <div class="collapse navbar-collapse" id="mytab">

                <ul class="nav navbar-nav">

                    <li class="active" role="presentation"><a href="http://s.mysipo.com" >首页</a></li>

                    <li role="presentation"><a href="/Index/kecheng" >职业培训</a></li>

                    <li role="presentation"><a href="#" class="down">公开课</a></li>

                    <li role="presentation"><a href="http://s.mysipo.com/#n3">讲师介绍</a></li>

                    


                </ul>

                    </li>

                </ul>

            </div>

        </div>

    </nav> 

</div>    

  <!--  手机顶部结束-->   

	<div class="con_kecen">	
    	<div class="container">
            <div class="js_con">
            	<div class="lef">
                	<img src="__PUBLIC__/static/home/images/kec_ny1.png">
                </div>
                <div class="rig">
                	<div class="txt">
                    	<h2>高智发明的前世今生及如何打造中国版“高智”</h2>
                        <p><strong>时间：</strong>3月5日（周六） 14:00</p>
                        <p><strong>地点：</strong>不限区域网络直播</p>
                        <p><strong>主讲：</strong>高智发明中国区总裁 严圣</p>
                        <p><strong>费用：</strong><b>免费</b></p>
                        <p class="p1">
                        	高智发明 – 专利运营是可以产生效益的<br>
                            高智发明投资人是谁,高智的主要付费客户<br>
                            高智模式 VS 中国企业现阶段的实际痛点<br>
                            咨询助理：QQ <a target="_blank" href="tencent://message/?uin=2850873350&Menu=yes">2850873350</a> / 电话 18010022696
                        </p>
                    </div>
                    <div class="butt">
                    	<a href="http://s.mysipo.com/show/45.html" class="but1" target="_blank">立即进入</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- 课程开始 -->
	
<!-- 课程开始 -->
	<div class="gaozhi_sbxy">	
    	<div class="container"> 
        	<div class="lef">
            	<div class="title">
                    <span class="tit">课程简介</span>
                 </div>
                 <div class="txt">
                 	<img src="__PUBLIC__/static/home/images/gaozhi_ppt1.jpg">
                    <img src="__PUBLIC__/static/home/images/gaozhi_ppt2.jpg">
                    <img src="__PUBLIC__/static/home/images/gaozhi_ppt3.jpg">
                    <img src="__PUBLIC__/static/home/images/gaozhi_ppt4.jpg">
                 </div>
             
            </div>  
            <div class="rig">        
                 <div class="title">
                    <span class="tit">课程大纲</span>
                 </div>
                 <div class="txt">
                    <ul>
                        <li><span class="span1">·</span> 高智发明 – 专利运营是可以产生效益的</li>
                       <li class="li1"><span class="span1">·</span>  高智发明投资人是谁</li>
                        <li><span class="span1">·</span> 高智的主要付费客户</li>
                        <li class="li1"><span class="span1">·</span> 高智模式 VS 中国企业现阶段的实际痛点</li>
                        <li><span class="span1">·</span> 中国版“高智” – 派富简介及愿景</li>
                        <li class="li1"><span class="span1">·</span> 派富三大业务模式及主要关注的技术领域</li>
                        <li><span class="span1">·</span> 部分专利运营案例</li>
                        <li class="li1"><span class="span1">·</span> 协助研发 CRD – 成为企业研发团队的的第10名成员</li>
                        <li><span class="span1">·</span> CRD + “并购技术” 的 基本模式和常见问题</li>
                        <li class="li1"><span class="span1">·</span> 横向合作 VS CRD – 同样的成本, 更多的方案</li>
                        <li><span class="span1">·</span> 企业的真正需求 – 技术 + 工艺 + 专利 + 团队</li>
                        <li class="li1"><span class="span1">·</span> 源头质量是专利保护和运营的关键</li>
                        <li><span class="span1">·</span> 派富与企业、技术联盟的合作模式</li>
                        <li class="li1"><span class="span1">·</span> 派富与科研院校的合作模式</li>
                        <li><span class="span1">·</span> 派富的投资模式</li>
                        <li class="li1"><span class="span1">·</span> 来自全球的技术方案资源所在地一览</li>
                    </ul>
                 </div>
             </div>   
        </div>
    </div>


<div class="footers ">
<div class="container">
	<div class="footer_con">
         <div class="Friendly hidden-xs hidden-sm">
         	<h3 class="Footer_tit">
                友情链接
            </h3>
            <ul>
            	<li><a href="http://www.cnipr.com/" target="_blank">中国知识产权网</a></li>
                <li><a href="http://www.8hy.org/" target="_blank"> 衡阳</a></li>
                <li><a href="http://www.tmmark.com/" target="_blank">中国商标网</a></li>
                <li><a href="http://www.jidian365.com/" target="_blank">极点网</a></li>
                <li><a href="http://www.fffffw.com/" target="_blank">伍福文化</a></li>
                <li><a href="http://www.wdy.com/" target="_blank">微电影网</a></li>
                <li><a href="http://chongqing.liebiao.com/" target="_blank">重庆列表网</a></li>
                <li><a href="http://www.berui.com/" target="_blank">合肥房产网</a></li>
                <li><a href="http://www.yz53.com/" target="_blank">禹州在线</a></li>
                <li><a href="http://www.tsingming.com/" target="_blank">中国清明网</a></li>
                <li><a href="http://www.51offer.com/" target="_blank">英国留学</a></li>
                <li><a href="http://yangzhou.focus.cn/" target="_blank">扬州房产信息网</a></li>
                <li><a href="http://www.liuxue315.edu.cn/" target="_blank">出国留学</a></li>
                <li><a href="http://www.0755lvs.cn/" target="_blank">深圳专利律师</a></li>
                <li><a href="http://www.ipcoo.cn/" target="_blank">专利布局</a></li>
                <li><a href="http://www.kzhihui.com/" target="_blank">知识产权服务</a></li>
                <li><a href="http://www.gbicom.cn/" target="_blank">中国商标网</a></li>
                <li><a href="http://www.lawyermr.com/" target="_blank">深律网</a></li>
                <li><a href="http://www.wtoip.com" target="_blank">商标转让</a></li>
                <li><a href="http://www.1633.com" target="_blank">技术交易平台</a></li>
                <li><a href="http://www.idcicp.com" target="_blank">网络品牌保护</a></li>
                <li><a href="http://www.shangbiaomyd.com" target="_blank">商标注册</a></li>
                <li><a href="http://www.chen7782.com" target="_blank">注册商标</a></li>
                <li><a href="http://www.fenxianggou.cc" target="_blank">科技创意</a></li>
                <li><a href="http://www.qihaoip.com" target="_blank">7号网</a></li>
                <li><a href="http://ipr.zbj.com/" target="_blank">八戒知识产权</a></li>
            </ul>
         </div>
         <div class="clear"> </div>
         <div class="end">
         	   <div class="Houses"> 
   				 © 2013-2016 北京思博知网科技有限公司<br>
                 思博网 ( 京ICP备12050374号 京公安备11010802012124)
               </div>	
         </div>
         
    </div>
  </div>  
</div>
<div class="huojian">
 <!-- 返回顶部代码 开始 -->
<div style="display:none;" id="rocket-to-top">
	<div style="opacity:0;display:block;" class="level-2"></div>
	<div class="level-3"></div>
</div>
</div>
<!-- 代码 结束 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8c6de5932bed397c45a36a716c38d952";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> 
</body>
</html>
