<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:sidemenu" />
</block>
<block name="body">
	<div class="main-title">
		<h2>{:isset($info['video_id'])?'编辑':'新增'}录播</h2>
	</div>
	<div class="tab-wrap">

		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">

				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<div class="controls">
							直播标题：&nbsp;<input type="text" name="live_id" class="text input-large" value="{$info.live_id|default=''}">
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							录播标题：&nbsp;<input type="text" name="title" class="text input-large" value="{$info.title|default=''}">
						</div>
					</div>
					<div class="form-item cf">
						<div class="controls">
							频&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道：
							<select name="cl_id" class="input-3x">
								<volist name="class" id="class">
									<option value="{$class.cl_id}">{$class.cl_title}</option>
								</volist>
							</select>
						</div>
					</div>

					<div class="form-item">
						<div class="controls">
							类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：
							<select name="video_type" id="" class="input-3x">
								<option value="1">理论</option>
								<option value="2">实践</option>
							</select>
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：&nbsp;<input type="text" name="price" class="text input-3x" value="{$info.price|default='0'}" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" maxlength="9"><span class="check-tips">价格6位整数2位小数，默认0为免费</span>
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							折&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣：
							<select name="dct_id" id="" class="input-3x" disabled >
								<option value="1">原价</option>
								<option value="2">打折期</option>
							</select>
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							讲师帐号：
							<input type="text" name="tch_name" class="text input-3x" value="{$info.tch_name|default=''}">
						</div>
					</div>
					<div class="form-item">
						<div class="controls">
							助教帐号：
							<input type="text" name="tutor_name" class="text input-3x" value="{$info.tutor_name|default='思博学院助教'}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">描述</label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="description">{$info.description|default=''}</textarea>
							</label>
						</div>
					</div>

				</div>
				<!-- btn submit-btn ajax-post -->
				<div class="form-item">
					<input type="hidden" name="video_id" value="{$info.video_id|default=''}">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		<present name="info.video_id">
		Think.setValue("ser_level", {$info.ser_level|default=2});
		Think.setValue("cl_id", {$info.cl_id|default=1});
		Think.setValue("video_type", {$info.video_type|default=1});
		Think.setValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
		</present>
		$(function(){
			showTab();
			$("input[name=reply]").change(function(){
				var $reply = $(".form-item.reply");
				parseInt(this.value) ? $reply.show() : $reply.hide();
			}).filter(":checked").change();
		});
		//导航高亮
		highlight_subnav('{:U('Playlive/index')}');
	</script>
</block>
